/** @format */

.about_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin-top: 10rem;
}
.about-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0.5;
}
.about-content h1 {
	font-size: 2.5rem;
	font-weight: 800;
}
.about-content h4 {
	font-size: 2rem;
	font-weight: 400;
	color: #c3073f;
}
.about-content p {
	text-align: justify;
	color: #1a1a1d;
	margin-top: 20px;
	font-weight: 1rem;
}
.about-image {
	display: flex;
	flex: 0.5;
}
.about-image img {
	margin: auto;
	height: 300px;
	border: 1px solid black;
}

@media only screen and (max-width: 1400px) {
	.about-image img {
		height: 250px;
	}
}

@media only screen and (max-width: 1100px) {
	.about-image img {
		height: 200px;
	}
}

@media only screen and (max-width: 900px) {
	.about_container {
		flex-direction: column-reverse;
	}
	.about-content {
		flex: 1;
	}
	.about-image {
		flex: 1;
	}
}

@media only screen and (max-width: 400px) {
	.about-image img {
		height: 200px;
	}
}
